
$primary-gray: #868686;
$primary-gray-light: #d9d9d9;
$primary-gray-dark: #292D32;

$primary-white: #ffffff;

$primary-purple: #5313b2;
$primary-purple-frame: #5313b2, 63%;
$primary-purple2: #8057bc;

$primary-orange: #ff8b12;

$primary-blue: #83a4c9;
$primary-gray-blue: #5b6470;
$primary-blue-light: #eaeef4;


